<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ersel.greatbit.net.ersel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".utilities.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ersel_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEa90GpGfLvdO43tc-YbRCSGeAzGxXsnM" />
        <service
            android:name=".location.LocationUpdateService"
            android:enabled="true"
            android:stopWithTask="false"
            />
        <receiver android:name=".utilities.CloseApp" />

        <receiver android:name=".utilities.BootCompletedBroadCast" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".firebase.MyFCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--&lt;!&ndash;###  Register service get token and send it to service  ###&ndash;&gt;-->
        <service android:name=".firebase.FCMRegistrationService" />

        <!--###  Service response to token refresh event  ###-->
        <service
            android:name=".firebase.FCMTokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".location.MyService" android:process=":my_service" />

    </application>

</manifest>